.flex
  display: flex

.flex--center
  justify-content: center

.flex--wrap
  flex-wrap: wrap

.f-50
  width: 50%

.baseline-grid
  display: flex
  align-items: center
  .baseline-row
    display: flex
    padding-left: $padding-left
    align-items: baseline
    @media (max-width: 600px)
      display: block
  .col-leading
    font-weight: 500
    font-size: 1.15rem
    width: $leading-width
    text-transform: uppercase
    letter-spacing: 0.3rem
    padding-right: 50px
    box-sizing: border-box
    @media (max-width: 600px)
      width: 100%
      padding-right: 20px
      margin-bottom: 1rem
      &::after
        content: ""
        display: block
        height: 3px
        width: 80px
        background: $gray
        margin-top: 1rem
        opacity: 0.3
  .col-leading--red
    color: $primary
  .col-leading--black
    color: $black
  .col-content
    font-weight: 300
    font-size: 2rem
    width: calc(100vw - #{$content-left})
    padding-right: 5rem
    box-sizing: border-box
    @media (max-width: 600px)
      width: 100%
      padding-right: 20px
  .col-content--black
    color: $black
  .col-content--gray
    color: $gray

.work-grid
  .work-grid__row
    display: flex
    flex-wrap: wrap
    @media (max-width: $work-breakpoint)
      flex-direction: column
  .work-grid__item
    height: 50vh
    min-height: 500px
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    position: relative
    color: white
    width: 50%
    @media (max-width: $work-breakpoint)
      width: 100%
    img
      object-fit: cover

      min-width: 110%
      max-width: 150%
      min-height: 110%
      transition: all 0.3s ease-in-out
      @media (max-width: $work-breakpoint)
        filter: blur(5px) brightness(70%)
    .work-description
      position: absolute
      height: 100%
      width: 100%
      z-index: 50
      left: 0 // NOTE: Bufix for Safari
      top: 0 // NOTE: Bugfix for Firefox
      background: rgba(237,182,182, 0.20)
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      font-family: "Quicksand"
      transform: scale(1.15)
      filter: blur(10px)
      opacity: 0
      transition: all 0.3s ease-in-out
      @media (max-width: $work-breakpoint)
        opacity: 1
        filter: blur(0)
        transform: scale(1)
      .work-tags
        font-size: 1rem
        font-weight: 400
        margin-bottom: 15px
      .work-seperator
        height: 1px
        width: 180px
        background: $white
        opacity: 0.5
      .work-titel
        font-size: 2.5rem
        margin: 100px 0px
        font-family: "Playfair Display"
        text-align: center
        padding: 0 30px
        max-width: 90%
    &:hover
      img
        filter: blur(10px) brightness(100%)
        transform: scale(0.97)
      .work-description
        transform: scale(1.0)
        filter: blur(0px)
        opacity: 1

.home-news
  padding: 80px 0px
  .news-item
    width: 230px
    margin: 15px 30px
    font-family: "Quicksand"
    @media (min-width: 1500px)
      width: 260px
      margin: 0px 50px
    .news-tags
      text-transform: uppercase
      font-weight: 600
      color: #C3C3C3
      letter-spacing: 0.1em
      font-size: 0.6rem
    .news-title
      font-family: "Playfair Display"
      font-size: 1.2rem
      color: rgba(0,0,0,0.6)
    .news-seperator
      height: 1px
      width: 60px
      background: rgba(0,0,0,0.2 )
      margin: 10px 0px
      transition: all 0.2s ease-in-out
    .news-text
      color: rgba(0,0,0,0.5 )
      font-weight: 400
      font-size: 0.8rem
    &:hover .news-seperator
      width: 80px
      background: $light-red
