.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]
  display: inline-block
  padding: 15px 40px
  text-align: center
  font-weight: 400
  letter-spacing: .3rem
  text-transform: uppercase
  text-decoration: none
  white-space: nowrap
  background-color: transparent
  border: 1px solid rgba(255,255,255,0.5)
  cursor: pointer
  box-sizing: border-box
  transition: all 0.2s ease-in-out
  @media (max-width: 750px)
    border-color: $white
    background: $white
    color: $primary

  &:hover,
  &:active,
  &:focus
    border-color: $white
    background: $white
    color: $primary
