::selection
  background: rgba(158, 179, 193, 0.5)

::-moz-selection
  background: rgba(158, 179, 193, 0.5)

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: rgba(158, 179, 193, 0.5)
