h1
  color: #2e2a3b
  font-size: 50px
  @media(max-width: 700px)
    font-size: 35px

p
  font-size: 15px
  font-weight: 300
  line-height: 30px

.initial p:first-of-type:first-letter
  float: left
  font-weight: 500
  font-size: 55px
  padding-top: 16px
  padding-right: 5px
  margin-left: -3px
  color: #5f5a6e

ol, ul
    font-size: 15px
    font-weight: 300
    line-height: 50px

.ta-center
  text-align: center
