/* Theme Name: Siemens Lab */
/* Author: Roth & Naser */
/* Author URI: http://www.roth-naser.de */
/* Version: 1.0*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.f-50 {
  width: 50%; }

.baseline-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .baseline-grid .baseline-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 8vw;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    @media (max-width: 600px) {
      .baseline-grid .baseline-row {
        display: block; } }
  .baseline-grid .col-leading {
    font-weight: 500;
    font-size: 1.15rem;
    width: 30vw;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding-right: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 600px) {
      .baseline-grid .col-leading {
        width: 100%;
        padding-right: 20px;
        margin-bottom: 1rem; }
        .baseline-grid .col-leading::after {
          content: "";
          display: block;
          height: 3px;
          width: 80px;
          background: #95989A;
          margin-top: 1rem;
          opacity: 0.3; } }
  .baseline-grid .col-leading--red {
    color: #9D1C20; }
  .baseline-grid .col-leading--black {
    color: #111; }
  .baseline-grid .col-content {
    font-weight: 300;
    font-size: 2rem;
    width: calc(100vw - calc(8vw + 30vw));
    padding-right: 5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 600px) {
      .baseline-grid .col-content {
        width: 100%;
        padding-right: 20px; } }
  .baseline-grid .col-content--black {
    color: #111; }
  .baseline-grid .col-content--gray {
    color: #95989A; }

.work-grid .work-grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 750px) {
    .work-grid .work-grid__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.work-grid .work-grid__item {
  height: 50vh;
  min-height: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: white;
  width: 50%; }
  @media (max-width: 750px) {
    .work-grid .work-grid__item {
      width: 100%; } }
  .work-grid .work-grid__item img {
    -o-object-fit: cover;
       object-fit: cover;
    min-width: 110%;
    max-width: 150%;
    min-height: 110%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    @media (max-width: 750px) {
      .work-grid .work-grid__item img {
        -webkit-filter: blur(5px) brightness(70%);
                filter: blur(5px) brightness(70%); } }
  .work-grid .work-grid__item .work-description {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 50;
    left: 0;
    top: 0;
    background: rgba(237, 182, 182, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Quicksand";
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    @media (max-width: 750px) {
      .work-grid .work-grid__item .work-description {
        opacity: 1;
        -webkit-filter: blur(0);
                filter: blur(0);
        -webkit-transform: scale(1);
                transform: scale(1); } }
    .work-grid .work-grid__item .work-description .work-tags {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 15px; }
    .work-grid .work-grid__item .work-description .work-seperator {
      height: 1px;
      width: 180px;
      background: #fff;
      opacity: 0.5; }
    .work-grid .work-grid__item .work-description .work-titel {
      font-size: 2.5rem;
      margin: 100px 0px;
      font-family: "Playfair Display";
      text-align: center;
      padding: 0 30px;
      max-width: 90%; }
  .work-grid .work-grid__item:hover img {
    -webkit-filter: blur(10px) brightness(100%);
            filter: blur(10px) brightness(100%);
    -webkit-transform: scale(0.97);
            transform: scale(0.97); }
  .work-grid .work-grid__item:hover .work-description {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1; }

.home-news {
  padding: 80px 0px; }
  .home-news .news-item {
    width: 230px;
    margin: 15px 30px;
    font-family: "Quicksand"; }
    @media (min-width: 1500px) {
      .home-news .news-item {
        width: 260px;
        margin: 0px 50px; } }
    .home-news .news-item .news-tags {
      text-transform: uppercase;
      font-weight: 600;
      color: #C3C3C3;
      letter-spacing: 0.1em;
      font-size: 0.6rem; }
    .home-news .news-item .news-title {
      font-family: "Playfair Display";
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.6); }
    .home-news .news-item .news-seperator {
      height: 1px;
      width: 60px;
      background: rgba(0, 0, 0, 0.2);
      margin: 10px 0px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .home-news .news-item .news-text {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
      font-size: 0.8rem; }
    .home-news .news-item:hover .news-seperator {
      width: 80px;
      background: #CC8A8A; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    -webkit-filter: opacity(70%);
            filter: opacity(70%);
    background: none; }
  .hamburger:focus {
    outline: none;
    background: none; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 0px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  background: white;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    background: white;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background: white;
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

body {
  background-color: #545065;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #666; }

::-moz-selection {
  background: rgba(158, 179, 193, 0.5); }

::selection {
  background: rgba(158, 179, 193, 0.5); }

::-moz-selection {
  background: rgba(158, 179, 193, 0.5); }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(158, 179, 193, 0.5); }

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #40a6ff inherit; }

h1 {
  color: #2e2a3b;
  font-size: 50px; }
  @media (max-width: 700px) {
    h1 {
      font-size: 35px; } }

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px; }

.initial p:first-of-type:first-letter {
  float: left;
  font-weight: 500;
  font-size: 55px;
  padding-top: 16px;
  padding-right: 5px;
  margin-left: -3px;
  color: #5f5a6e; }

ol, ul {
  font-size: 15px;
  font-weight: 300;
  line-height: 50px; }

.ta-center {
  text-align: center; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 15px 40px;
  text-align: center;
  font-weight: 400;
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media (max-width: 750px) {
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
      border-color: #fff;
      background: #fff;
      color: #9D1C20; } }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    border-color: #fff;
    background: #fff;
    color: #9D1C20; }

root:before {
  content: url("assets/img/neurons1.png") url("assets/img/neurons2.png") url("assets/img/neurons3.png") url("assets/img/neurons4.png") url("assets/img/neurons5.png") url("assets/img/neurons6.png") url("assets/img/neurons7.png");
  /* partial fallback */
  visibility: hidden;
  position: absolute;
  left: -999em; }

header {
  position: absolute;
  width: 100%;
  font-size: 100px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #fb6733;
  margin: 0;
  padding: 0;
  padding-left: 100px;
  height: 180px;
  background-color: rgba(52, 47, 70, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 850px) {
    header {
      padding-left: 50px; } }
  @media (max-width: 750px) {
    header {
      font-size: 82px;
      height: 150px; } }
  @media (max-width: 620px) {
    header {
      font-size: 65px;
      height: 120px; } }
  @media (max-width: 530px) {
    header {
      font-size: 51px;
      height: 90px; } }
  @media (max-width: 450px) {
    header {
      padding-left: 30px; } }
  @media (max-width: 400px) {
    header {
      font-size: 39px;
      height: 75px; } }
  header .homelink {
    color: #fb6733; }
  header .slogan {
    font-size: 20px;
    margin-top: -30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.5; }
    @media (max-width: 750px) {
      header .slogan {
        font-size: 16px; } }
    @media (max-width: 620px) {
      header .slogan {
        font-size: 12px;
        margin-top: -20px;
        font-weight: 500; } }
    @media (max-width: 530px) {
      header .slogan {
        letter-spacing: 1px;
        margin-top: -16px; } }
    @media (max-width: 400px) {
      header .slogan {
        font-size: 11px;
        letter-spacing: 0px;
        margin-top: -11px; } }

.header-img {
  height: 75vh;
  min-height: 500px;
  background: url("assets/img/neurons1.png");
  background-size: cover;
  background-position: 50% 75%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 750px) {
    .header-img {
      background-position: 40% 85%;
      background-size: 300%; } }

.hero {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  height: calc(100vh);
  background: url("assets/img/neurons1.png");
  background-size: cover;
  background-position: 50% 75%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  @media (max-width: 750px) {
    .hero {
      background-position: 40% 85%;
      background-size: 300%; } }

nav {
  position: absolute;
  width: 100%;
  top: 180px;
  height: 50px;
  z-index: 0;
  background-color: rgba(52, 47, 70, 0.7);
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 5px solid rgba(251, 103, 51, 0.7);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 750px) {
    nav {
      top: 150px; } }
  @media (max-width: 620px) {
    nav {
      top: 120px; } }
  @media (max-width: 560px) {
    nav {
      height: 40px;
      overflow: hidden; } }
  @media (max-width: 530px) {
    nav {
      top: 90px; } }
  @media (max-width: 400px) {
    nav {
      top: 75px; } }
  nav ul {
    margin: 0;
    margin-left: 100px;
    padding: 0; }
    @media (max-width: 850px) {
      nav ul {
        margin-left: 50px; } }
    @media (max-width: 450px) {
      nav ul {
        margin-left: 30px; } }
    nav ul li {
      display: inline;
      padding-right: 30px; }
      @media (max-width: 560px) {
        nav ul li {
          display: block; } }
      nav ul li a {
        color: #f5ad46;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 300;
        border-bottom: 1px solid rgba(245, 173, 70, 0);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        padding-bottom: 5px;
        letter-spacing: 1px; }
        nav ul li a:hover {
          border-bottom: 1px solid rgba(245, 173, 70, 0.5); }
        @media (max-width: 750px) {
          nav ul li a {
            font-size: 13px; } }
        @media (max-width: 620px) {
          nav ul li a {
            font-size: 11px; } }
        @media (max-width: 560px) {
          nav ul li a {
            font-size: 12px; } }
      nav ul li.current_page_item a {
        border-bottom: 1px solid rgba(245, 173, 70, 0.8); }

.toggle_mobile {
  display: none; }
  @media (max-width: 560px) {
    .toggle_mobile {
      width: 420px;
      display: block;
      margin-left: 50px;
      cursor: pointer;
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      color: #f5ad46;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 1px; }
      .toggle_mobile .toggle_button {
        width: 84px;
        padding: 2px 0px;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .toggle_mobile .toggle_button:hover {
          background: rgba(255, 255, 255, 0.1);
          padding: 2px 10px; }
        .toggle_mobile .toggle_button.active {
          background: rgba(255, 255, 255, 0.1);
          padding: 2px 10px; } }
  @media (max-width: 530px) {
    .toggle_mobile {
      width: 340px; } }
  @media (max-width: 450px) {
    .toggle_mobile {
      margin-left: 30px; } }
  @media (max-width: 400px) {
    .toggle_mobile {
      width: 275px; } }
  .toggle_mobile i {
    margin-right: 3px; }

.mobile-open {
  height: 300px; }

.secondary-nav-wrap {
  height: 50px; }
  @media (max-width: 600px) {
    .secondary-nav-wrap {
      height: 70px; } }

.secondary-nav {
  background: #0e0e17;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 600px) {
    .secondary-nav {
      height: 70px; } }
  .secondary-nav ul {
    margin: 0;
    padding: 0;
    padding-left: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 850px) {
      .secondary-nav ul {
        padding-left: 50px; } }
    @media (max-width: 700px) {
      .secondary-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media (max-width: 450px) {
      .secondary-nav ul {
        padding-left: 30px; } }
    .secondary-nav ul li {
      display: inline;
      margin-right: 30px; }
      @media (max-width: 750px) {
        .secondary-nav ul li {
          margin-right: 10px; } }
      @media (max-width: 700px) {
        .secondary-nav ul li {
          display: block;
          width: 150px;
          line-height: 20px; } }
      @media (max-width: 600px) {
        .secondary-nav ul li {
          width: 100px; } }
      @media (max-width: 370px) {
        .secondary-nav ul li {
          width: 90px;
          margin-right: 5px; } }
      .secondary-nav ul li a {
        color: white;
        font-size: 15px;
        font-weight: 300;
        opacity: 0.5;
        letter-spacing: 2px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .secondary-nav ul li a:hover {
          opacity: 1; }
        @media (max-width: 1150px) {
          .secondary-nav ul li a {
            font-size: 13px; } }
        @media (max-width: 1050px) {
          .secondary-nav ul li a {
            font-size: 12px;
            letter-spacing: 1px; } }
        @media (max-width: 900px) {
          .secondary-nav ul li a {
            letter-spacing: 0px; } }
        @media (max-width: 370px) {
          .secondary-nav ul li a {
            font-size: 11px; } }
      .secondary-nav ul li.current_page_item a {
        opacity: 1; }

headerwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.trace {
  height: 235px;
  z-index: 100000; }
  @media (max-width: 1250px) {
    .trace {
      display: none; } }

.hleft {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.hright {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 180px;
  vertical-align: middle; }

.nav--fixed {
  position: fixed;
  width: 100%;
  top: 0; }

.header--link-hover_1 {
  background-image: url("assets/img/1x/neurons1.png");
  background-image: -webkit-image-set url("assets/img/1x/neurons1.png") 1x, url("assets/img/neurons1.png") 2x;
  background-image: -moz-image-set(url(assets/test.png) 1x, url(assets/test-hires.png) 2x);
  background-image: -o-image-set(url(assets/test.png) 1x, url(assets/test-hires.png) 2x);
  background-image: -ms-image-set(url(assets/test.png) 1x, url(assets/test-hires.png) 2x);
  background-size: cover;
  background-position: 50% 75%; }

.header--link-hover_2 {
  background-image: url("assets/img/neurons2.png");
  background-size: cover;
  background-position: 50% 75%; }

.header--link-hover_3 {
  background-image: url("assets/img/neurons3.png");
  background-size: cover;
  background-position: 50% 75%; }

.header--link-hover_4 {
  background-image: url("assets/img/neurons4.png");
  background-size: cover;
  background-position: 50% 75%; }

.header--link-hover_5 {
  background: url("assets/img/neurons5.png");
  background-size: cover;
  background-position: 50% 75%; }

.header--link-hover_6 {
  background: url("assets/img/neurons6.png");
  background-size: cover;
  background-position: 50% 75%; }

content {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }
  content .content-wrap {
    max-width: 900px;
    width: 100%; }
  content figcaption {
    font-size: 12px;
    opacity: 0.8;
    font-weight: 300;
    line-height: 20px; }

wp-caption-text {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 300;
  line-height: 20px; }

figure {
  margin: 0;
  margin-top: 10px; }
  figure img {
    width: 100%; }
  @media (max-width: 500px) {
    figure {
      margin-bottom: 20px; } }

.youtube {
  width: 800px;
  height: 600px; }

.img--left {
  float: left;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 500px) {
    .img--left {
      padding: 0; } }

.img--right {
  float: right;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 500px) {
    .img--right {
      padding: 0; } }

.img--1-3 {
  width: 33%; }
  @media (max-width: 500px) {
    .img--1-3 {
      width: 100%; } }

.img--1-2 {
  width: 50%; }
  @media (max-width: 500px) {
    .img--1-2 {
      width: 100%; } }

.img--1-1 {
  width: 100%; }

footer {
  padding: 10px 0;
  padding-left: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 850px) {
    footer {
      padding: 10px 0;
      padding-left: 20px; } }
  footer ul {
    padding: 0;
    margin: 0;
    width: 90%; }
    footer ul li {
      display: inline;
      padding: 0;
      margin: 0;
      margin-left: 20px; }
      @media (max-width: 750px) {
        footer ul li {
          margin-left: 10px; } }
      @media (max-width: 620px) {
        footer ul li {
          display: block;
          width: 90%; } }
      footer ul li a {
        color: white;
        opacity: 0.5;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        font-weight: 300; }
        @media (max-width: 620px) {
          footer ul li a {
            font-size: 11px; } }
        footer ul li a:hover {
          opacity: 1; }

.home-footer {
  position: absolute;
  bottom: 0;
  padding: 5px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: rgba(31, 28, 40, 0.5);
  border-top: 2px solid rgba(251, 103, 51, 0.4); }
  @media (max-width: 850px) {
    .home-footer {
      padding: 5px 20px; } }
  .home-footer ul {
    padding: 0;
    margin: 0; }
    .home-footer ul li {
      display: inline;
      padding: 0;
      margin-left: 20px; }
      @media (max-width: 620px) {
        .home-footer ul li {
          display: block; } }
      .home-footer ul li a {
        color: white;
        opacity: 0.5;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        font-weight: 300; }
        @media (max-width: 620px) {
          .home-footer ul li a {
            font-size: 11px; } }
        .home-footer ul li a:hover {
          opacity: 1; }

.publication {
  margin-bottom: 30px;
  border-left: 1px solid white;
  padding-left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .publication:hover {
    border-left: 10px solid #dadfe7;
    padding-left: 15px; }
  @media (max-width: 600px) {
    .publication {
      border-left: 8px solid #dadfe7;
      padding-left: 12px; }
      .publication:hover {
        border-left: 8px solid #dadfe7;
        padding-left: 12px; } }
  .publication a {
    color: #666; }
  .publication .pub__authors {
    font-variant: small-caps;
    color: #888;
    font-weight: 300; }
    @media (max-width: 600px) {
      .publication .pub__authors {
        font-size: 12px; } }
  .publication .pub__title {
    font-size: 24px;
    font-weight: 300; }
    @media (max-width: 600px) {
      .publication .pub__title {
        font-size: 20px; } }
  .publication .pub__journal {
    color: #888;
    font-weight: 300; }
    @media (max-width: 600px) {
      .publication .pub__journal {
        font-size: 12px; } }

.people_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px; }

.principal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 850px) {
    .principal-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.principal_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  width: 300px; }
  .principal_left .people__image {
    height: 200px;
    width: 150px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 4px 89px -23px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 4px 89px -23px rgba(0, 0, 0, 0.6); }
  .principal_left .people__name {
    font-size: 28px;
    font-weight: 300; }
  .principal_left .people__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    color: #aaa;
    font-weight: 400;
    margin-bottom: 5px; }
  .principal_left .people__email {
    opacity: 0.7;
    font-weight: 300;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .principal_left .people__email:hover {
      opacity: 1; }

.principal_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px; }
  .principal_right .CV {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .principal_right .CVdate {
    font-weight: 500;
    width: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .principal_right .CV_text {
    font-size: 28px;
    font-weight: 300;
    margin-left: 10px;
    -ms-flex-line-pack: center;
        align-content: center; }

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin-bottom: 50px; }
  .people .people__image {
    height: 200px;
    width: 150px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 4px 89px -23px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 4px 89px -23px rgba(0, 0, 0, 0.6); }
  .people .people__name {
    font-size: 28px;
    font-weight: 300; }
  .people .people__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    color: #aaa;
    font-weight: 400;
    margin-bottom: 5px; }
  .people .people__email {
    opacity: 0.7;
    font-weight: 300;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .people .people__email:hover {
      opacity: 1; }

.post-title {
  font-size: 30px;
  color: #2e2a3b; }

.post {
  width: 100%;
  margin-top: 25px;
  background-color: white;
  margin-bottom: 25px;
  position: relative;
  border-bottom: 3px solid rgba(251, 103, 51, 0.7); }

.post:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  border-radius: 50%;
  z-index: -1;
  -webkit-box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5); }

.post-content {
  background-color: white; }
