.home-footer
  position: absolute
  bottom: 0
  padding: 5px 70px
  box-sizing: border-box
  width: 100%
  background: rgba(31, 28, 40, 0.5)
  border-top: 2px solid rgba(251, 103, 51, 0.4)
  @media(max-width: 850px)
    padding: 5px 20px
  ul
    padding: 0
    margin: 0
    li
      display: inline
      padding: 0
      margin-left: 20px
      @media(max-width: 620px)
          display: block
      a
        color: white
        opacity: 0.5
        transition: all 0.2s ease-in-out
        font-weight: 300
        @media(max-width: 620px)
          font-size: 11px
        &:hover
          opacity: 1
