.post-title
  font-size: 30px
  color: #2e2a3b
.post
  width: 100%
  margin-top: 25px
  background-color: white
  margin-bottom: 25px
  position: relative
  border-bottom: 3px solid rgba(251, 103, 51, 0.7)



.post:after
  content: ''
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 30px
  border-radius: 50%
  z-index: -1
  box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5)
.post-content
  background-color: white
