.people_grid
  display: flex
  flex-wrap: wrap
  justify-content: center
.group
  justify-content: center
  padding-bottom: 50px



.principal-wrap
  display: flex
  align-items: center
  @media(max-width: 850px)
    flex-direction: column

.principal_left
  display: flex
  align-items: center
  flex-direction: column
  margin-bottom: 50px
  width: 300px


  .people__image
    height: 200px
    width: 150px
    margin-bottom: 20px
    box-shadow: 0px 4px 89px -23px rgba(0,0,0,0.6)
  .people__name
    font-size: 28px
    font-weight: 300
  .people__title
    text-transform: uppercase
    letter-spacing: 2px
    font-size:  11px
    color: #aaa
    font-weight: 400
    margin-bottom: 5px
  .people__email
    opacity: 0.7
    font-weight: 300
    transition: all 0.2s ease-in-out
    &:hover
      opacity: 1

.principal_right
  display: flex
  flex-direction: column
  margin-bottom: 50px

  .CV
    display: flex

  .CVdate
    font-weight: 500
    width: 35px
    align-items: center
    margin-left: 30px
    margin-right: 20px
    display: flex

  .CV_text
    font-size: 28px
    font-weight: 300
    margin-left: 10px
    align-content: center

.people
  display: flex
  align-items: center
  flex-direction: column
  width: 300px
  margin-bottom: 50px
  .people__image
    height: 200px
    width: 150px
    margin-bottom: 20px
    box-shadow: 0px 4px 89px -23px rgba(0,0,0,0.6)
  .people__name
    font-size: 28px
    font-weight: 300
  .people__title
    text-transform: uppercase
    letter-spacing: 2px
    font-size:  11px
    color: #aaa
    font-weight: 400
    margin-bottom: 5px
  .people__email
    opacity: 0.7
    font-weight: 300
    transition: all 0.2s ease-in-out
    &:hover
      opacity: 1
