.publication
  margin-bottom: 30px
  border-left: 1px solid white
  padding-left: 5px
  transition: all 0.3s ease-in-out
  box-sizing: border-box
  &:hover
    border-left: 10px solid #dadfe7
    padding-left: 15px
  @media(max-width: 600px)
    border-left: 8px solid #dadfe7
    padding-left: 12px
    &:hover
      border-left: 8px solid #dadfe7
      padding-left: 12px
  a
    color: #666

  .pub__authors
    font-variant: small-caps
    color: #888
    font-weight: 300
    @media(max-width: 600px)
      font-size: 12px
  .pub__title
    font-size: 24px
    font-weight: 300
    @media(max-width: 600px)
      font-size: 20px
  .pub__journal
    color: #888
    font-weight: 300
    @media(max-width: 600px)
      font-size: 12px
