content
  background: white
  display: flex
  justify-content: center
  padding: 50px 20px
  box-sizing: border-box
  width: 100%
  .content-wrap
    max-width: 900px
    width: 100%
  img
    //height: 100%

  figcaption
    font-size: 12px
    opacity: 0.8
    font-weight: 300
    line-height: 20px

wp-caption-text
    font-size: 12px
    opacity: 0.8
    font-weight: 300
    line-height: 20px

figure

    margin: 0
    margin-top: 10px
    img
      width: 100%
    @media(max-width: 500px)
      margin-bottom: 20px


.alignright
  float:right

.alignleft
  float:left


.youtube
  width: 800px
  height: 600px


.img--left
  float: left
  padding-right: 40px
  box-sizing: border-box
  @media(max-width: 500px)
    padding: 0

.img--right
  float: right
  padding-left: 40px
  box-sizing: border-box
  @media(max-width: 500px)
    padding: 0


.alignright
  float:right

.alignleft
  float:left

.img--1-3
  width: 33%
  @media(max-width: 500px)
    width: 100%

.img--1-2
  width: 50%
  @media(max-width: 500px)
    width: 100%

.img--1-1
  width: 100%
