footer
  padding: 10px 0
  padding-left: 70px
  box-sizing: border-box
  @media(max-width: 850px)
    padding: 10px 0
    padding-left: 20px
  ul
    padding: 0
    margin: 0
    width: 90%
    li
      display: inline
      padding: 0
      margin: 0
      margin-left: 20px

      @media(max-width: 750px)
        margin-left: 10px
      @media(max-width: 620px)
          display: block
          width: 90%
      a
        color: white
        opacity: 0.5
        transition: all 0.2s ease-in-out
        font-weight: 300
        @media(max-width: 620px)
          font-size: 11px
        &:hover
          opacity: 1
