root:before
  content: url("assets/img/neurons1.png") url("assets/img/neurons2.png") url("assets/img/neurons3.png") url("assets/img/neurons4.png") url("assets/img/neurons5.png") url("assets/img/neurons6.png") url("assets/img/neurons7.png")
  /* partial fallback */
  visibility: hidden
  position: absolute
  left: -999em

$header: rgba(52, 47, 70, 0.7)
$background-pos: 50% 75%
$background-pos-2: 40% 85%



header
  position: absolute
  width: 100%
  font-size: 100px
  font-weight: 600
  letter-spacing: 5px
  color: #fb6733
  margin: 0
  padding: 0
  padding-left: 100px
  height: 180px
  background-color: $header
  box-sizing: border-box
  @media(max-width: 850px)
    padding-left: 50px
  @media(max-width: 750px)
    font-size: 82px
    height: 150px
  @media(max-width: 620px)
    font-size: 65px
    height: 120px
  @media(max-width: 530px)
    font-size: 51px
    height: 90px
  @media(max-width: 450px)
    padding-left: 30px
  @media(max-width: 400px)
    font-size: 39px
    height: 75px
  .homelink
    color: #fb6733
  .slogan
    font-size: 20px
    margin-top: -30px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 3px
    opacity: 0.5
    @media(max-width: 750px)
      font-size: 16px
    @media(max-width: 620px)
      font-size: 12px
      margin-top: -20px
      font-weight: 500
    @media(max-width: 530px)
      letter-spacing: 1px
      margin-top: -16px
    @media(max-width: 400px)
      font-size: 11px
      letter-spacing: 0px
      margin-top: -11px

.header-img
  height: 75vh
  min-height: 500px
  background: url("assets/img/neurons1.png")
  background-size: cover
  background-position: $background-pos
  transition: all 0.3s ease-in-out
  @media(max-width: 750px)
    background-position: $background-pos-2
    background-size: 300%

.hero
  position: absolute
  width: 100%
  top: 0
  z-index: -1
  height: calc(100vh)
  background: url("assets/img/neurons1.png")
  background-size: cover
  background-position: $background-pos
  transition: all 0.4s ease-in-out
  @media(max-width: 750px)
    background-position: $background-pos-2
    background-size: 300%




nav
  position: absolute
  width: 100%
  top: 180px
  height: 50px
  z-index: 0
  background-color: $header
  box-shadow: 0px 3px 4px rgba(0,0,0,0.3)
  border-bottom: 5px solid rgba(251, 103, 51, 0.7)
  transition: all 0.3s ease-in-out
  @media(max-width: 750px)
    top: 150px
  @media(max-width: 620px)
    top: 120px
  @media(max-width: 560px)
    height: 40px
    overflow: hidden
  @media(max-width: 530px)
    top: 90px
  @media(max-width: 400px)
    top: 75px
  ul
    margin: 0
    margin-left: 100px
    padding: 0
    @media(max-width: 850px)
      margin-left: 50px
    @media(max-width: 450px)
      margin-left: 30px
    li
      display: inline
      padding-right: 30px
      @media(max-width: 560px)
        display: block
      a
        color: #f5ad46
        font-size: 17px
        text-transform: uppercase
        font-weight: 300
        border-bottom: 1px solid rgba(245, 173, 70, 0)
        transition: all 0.3s ease-in-out
        padding-bottom: 5px
        letter-spacing: 1px
        &:hover
          border-bottom: 1px solid rgba(245, 173, 70, 0.5)
        @media(max-width: 750px)
          font-size: 13px
        @media(max-width: 620px)
          font-size: 11px
        @media(max-width: 560px)
          font-size: 12px
      &.current_page_item a
        border-bottom: 1px solid rgba(245, 173, 70, 0.8)

.toggle_mobile
  display: none
  @media(max-width: 560px)
    width: 420px
    display: block
    margin-left: 50px
    cursor: pointer
    margin-top: 10px
    padding-bottom: 10px
    border-bottom: 1px solid rgba(255,255,255,0.1)
    color: #f5ad46
    text-transform: uppercase
    font-weight: 300
    letter-spacing: 1px
    .toggle_button
      width: 84px
      padding: 2px 0px
      border-radius: 5px
      transition: all 0.3s ease-in-out
      box-sizing: border-box
      &:hover
        background: rgba(255,255,255,0.1)
        padding: 2px 10px
      &.active
        background: rgba(255,255,255,0.1)
        padding: 2px 10px
  @media(max-width: 530px)
    width: 340px
  @media(max-width: 450px)
    margin-left: 30px
  @media(max-width: 400px)
    width: 275px
  i
    margin-right: 3px

.mobile-open
  height: 300px

.secondary-nav-wrap
  height: 50px
  @media(max-width: 600px)
    height: 70px
.secondary-nav
  background: #0e0e17
  height: 50px
  display: flex
  align-items: center
  @media(max-width: 600px)
    height: 70px
  ul
    margin: 0
    padding: 0
    padding-left: 100px
    box-sizing: border-box
    @media(max-width: 850px)
      padding-left: 50px
    @media(max-width: 700px)
      display: flex
      align-items: center
    @media(max-width: 450px)
      padding-left: 30px
    li
      display: inline
      margin-right: 30px
      @media(max-width: 750px)
        margin-right: 10px
      @media(max-width: 700px)
        display: block
        width: 150px
        line-height: 20px
      @media(max-width: 600px)
        width: 100px
      @media(max-width: 370px)
        width: 90px
        margin-right: 5px
      a
        color: white
        font-size: 15px
        font-weight: 300
        opacity: 0.5
        letter-spacing: 2px
        transition: all 0.2s ease-in-out
        &:hover
          opacity: 1
        @media(max-width: 1150px)
          font-size: 13px
        @media(max-width: 1050px)
          font-size: 12px
          letter-spacing: 1px
        @media(max-width: 900px)
          letter-spacing: 0px
        @media(max-width: 370px)
          font-size: 11px
      &.current_page_item a
        opacity: 1

headerwrap
  display: flex


.trace
  height: 235px
  z-index: 100000
  @media(max-width: 1250px)
    display: none

.hleft
    order: 1

.hright
  order: 2
  height: 180px
  vertical-align: middle




.nav--fixed
  position: fixed
  width: 100%
  top: 0

.header--link-hover_1
  background-image: url("assets/img/1x/neurons1.png")
  background-image: -webkit-image-set (url("assets/img/1x/neurons1.png") 1x, url("assets/img/neurons1.png") 2x)
  background-image: -moz-image-set(url(assets/test.png) 1x, url(assets/test-hires.png) 2x)
  background-image: -o-image-set(url(assets/test.png) 1x, url(assets/test-hires.png) 2x)
  background-image: -ms-image-set(url(assets/test.png) 1x, url(assets/test-hires.png) 2x)

  background-size: cover
  background-position: $background-pos

.header--link-hover_2
  background-image: url("assets/img/neurons2.png")
  background-size: cover
  background-position: $background-pos

.header--link-hover_3
  background-image: url("assets/img/neurons3.png")
  background-size: cover
  background-position: $background-pos

.header--link-hover_4
  background-image: url("assets/img/neurons4.png")
  background-size: cover
  background-position: $background-pos

.header--link-hover_5
  background: url("assets/img/neurons5.png")
  background-size: cover
  background-position: $background-pos

.header--link-hover_6
  background: url("assets/img/neurons6.png")
  background-size: cover
  background-position: $background-pos
